header.header
    .container
        .header__wrapper
            .logo
                img(src='../images/logo.svg').logo__image
            nav.menu
                li.menu__item
                    a(href='#').menu__link Топ историй
                li.menu__item
                    a(href='#').menu__link Случайная история
                li.menu__item
                    a(href='#').menu__link О нас
